name: run_v2ray

on:
  # push:
  #   branches: [ "master" ]
  # pull_request:
  #   branches: [ "master" ]
  
  workflow_dispatch:
    inputs:
      nginx_seq:
        description: 'Nginx sequence number'
        required: false
        default: '0'
        type: string
    
jobs:
  build:
    permissions:
      contents: 'read'
      id-token: 'write'
      
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: 'Run test.sh'
        env:
          nginx_seq: ${{ github.event.inputs.nginx_seq }}
        run: './run_v2ray.sh'

      - name: run-for-some-time
        run: |
          start_time=$(date +%s)
          timeout=1800
          while true; do
            current_time=$(date +%s)
            elapsed=$((current_time - start_time))
            if [ "$elapsed" -ge "$timeout" ]; then
              echo "循环已执行${elapsed}秒，退出"
              break
            fi
            echo "运行中... 已过时间：${elapsed}秒"
            sleep 10
          done

